    <div class="row">
        <div class="col-md-12 text-center">
            <hr>
            Copyright &copy; Moovie Industries
        </div>
    </div>

    </div>
</body>
<script src="/js/bootstrap.js"></script>
</html>