{% include 'modules/header.html' %}
<style>
    tr,td{
        padding: 5px
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h1> Add a Movie</h1>
        <table>
        <tr>
        <form action="/add" Method="POST">
            <div class="form_group">
              
                <td><label for="movie_title">Movie Title: </label></td>
                <td><input type="text" id="movie_title" name="movie_title"></td>
            </tr>
            <tr>
                <td><label for="genre_name">Genre:  </label></td> 
                <td><input type="text" id="genre_name" name="genre_name"></td>
            </tr>
            <tr>    
                <td><label for="dir_name">Director's Name: </label></td> 
                <td><input type="text" id="dir_name" name="dir_name"></td>
            </tr>
            <tr>    
                <td><input type="submit" value="Submit"></td></tr></td>  
            </div>
        </form>
        </tr>
        </table>
    </div>
{% include 'modules/footer.html' %}
