{% include 'modules/header.html' %}

<div class="alert alert-success" role="alert">
    <strong>Successful operation!</strong> Give yourself a patty on the back.
    <br></br>
    <h4>
        <a href="/home" class="alert-link">Go back to the barn.</a>
    </h4>
</div>

{% include 'modules/footer.html' %}
