{% include 'modules/header.html' %}

<div class="row">
    <div class="col-md-12">
        <h1 align=left>Remoove Movie: {{movie[0][1]}}</h1>
        <h3 align=left><strong><font color="red"><u>Warning</font></u></strong>: 
            With great power comes great responsibility - remoove carefully!</h3>
        <form action="/delete_movie" Method="POST">
            <div class="form_group">
                <input type="submit" value="Remoove"></td></tr>
                <input type="hidden" value="{{movie[0][0]}}" name="movie_id">
            </div>
        </form>
    </div>
</div>


{% include 'modules/footer.html' %}
