{% include 'modules/header.html' %}

<div class="row">
    <div class="col-md-12">
        <h1 align=left>Edit Movie: {{movie[0][1][1:-1]}}</h1> 
        <div class="form_group">
            <table style="width: 10%">
                <form action="/edit_movie" Method="POST">
                    <tr>
                        <td>Title: <input type="text" name="edit_movie"></td>
                        <td><input type="submit" value="Update Title"></td>
                        <td><input type="hidden" value="{{movie[0][0]}}" name="movie_id"></td>
                    </tr>
                </form>
                <form action="/add_genre" Method="POST">
                    <tr>
                        <td>Add Genre: <input type="text" name="add_genre"></td>
                        <td><input type="submit" value="Add Genre"></td>
                        <td><input type="hidden" value="{{movie[0][0]}}" name="movie_id"></td>
                </form>
                <form action="/remove_genre" Method="POST">
                        <td>Remove Genre: <input type="text" name="remove_genre"></td>
                        <td><input type="submit" value="Remove Genre"></td>
                        <td><input type="hidden" value="{{movie[0][0]}}" name="movie_id"></td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>


{% include 'modules/footer.html' %}
