{% include 'modules/header.html' %}

<div class="row">
    <div class="text-center col-md-12"><h1>An Honest Misteak</h1>
        <img src="/assets/error_cow.png">
        <h2>
           You've discovered an udderance of a broken page on our site!</h2>
         <br></br> Before you leave please be sure to enjoy this cowlection           of themed jokes!
         <br></br>Q: What did mama cow say to baby cow?<br>A: It's pasture bedtime.
         <br></br>Q: Where do cows go for lunch?<br>A: The calf-eteria.
         <br></br>Q: What do you call a cow that can cut the grass?<br>A: Mulan.
         <br></br>Q: What do you call a cow with full armor?<br>A: Sir loin.
    </div>
</div>


{% include 'modules/footer.html' %}
