
    {% include 'modules/header.html' %}
    <div class="row">
        <div class="text-center col-md-12"><h1>Welcome to Moovies</h1>
            <img src="/assets/home_cow.png">
        </div>
    </div>
    {% include 'modules/footer.html' %}
    

