<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moovies</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body
        {
            background-image: url("assets/cowprint.jpg");
        }
        .container
        {
            border: 2px solid lightgrey;
            background-color: white;
            margin-top: 30px;
        }
    </style>    
</head>
<body>
<div class="container">
<div class = "row"> 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/assets/cow_logo.png" width="50" height="50">
            <a class="navbar-brand" href="/"> Moovies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- /.container-fluid -->
        </nav>
</div>

<div class="alert alert-danger" role="alert">
    <strong>Incorrect username/password combination.</strong>
    <br></br>
    <h4>
        <a href="/" class="alert-link">Go back to the barn.</a>
    </h4>
</div>

{% include 'modules/footer.html' %}
