<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moovies</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body            
        {   
            background-image: url("assets/cowprint.jpg");
        }   
        .container 
        {   
            border: 2px solid lightgrey;
            background-color: white;
            margin-top: 30px;
        }   
    </style>    
</head>
<body>
<div class="container">
<div class = "row">         
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/assets/cow_logo.png" width="50" height="50">
            <a class="navbar-brand" href="/"> Moovies</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div><!-- /.container-fluid -->
        </nav>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="/" method='POST'>
        <div class="form-group">
            <label for="userID">User ID:</label>
            <input type="text" class="form-control" name="userID" placeholder="User ID">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="password ">
        </div>
            <button type="submit" class="btn btn-default">Log In</button>
        </form>        
    </div>
</div>    
    
{% include 'modules/footer.html' %}

