{% include 'modules/header.html' %}
<style>
th,td{
    padding: 10px
}
</style>
<div class="row">
    <div class="col-md-5">
        <h1> Search </h1>
        <table>
        <tr>
        <form action="/search" Method="GET"> 
            <div class="form_group">
                <td><label for="movie_title">Movie Title:     </label></td> 
                <td><input type="text" id="movie_title" name="movie_title"></td>
                <input type="hidden" name="search_type" value="movie">
                <td><input class="btn btn-default" type="submit" value="Search"></td></tr></td>  
            </div>
        </form>
        </tr>
        <tr>
        <form action="/search" Method="GET"> 
            <div class="form_group">
                <td><label for="actor_name">Actor's Name:  </label></td> 
                <td><input type="text" id="actor_name" name="actor_name"></td>
                <input type="hidden" name="search_type" value="actor">
                <td><input class="btn btn-default" type="submit" value="Search"></td></tr></td> 
            </div>
        </form>
        </tr>
        <tr>
        <form action="/search" Method="GET"> 
            <div class="form_group">
                <td><label for="dir_name">Director's Name: </label></td> 
                <td><input type="text" id="dir_name" name="dir_name"></td>
                <input type="hidden" name="search_type" value="director">
                <td><input class="btn btn-default" type="submit" value="Search"></td></tr></td>  
            </div>
        </form>
        </tr>
        </table>
    </div>

    
    <div class="col-md-7">
        <h2>Results</h2>
        <table>
        {% if search_type == None %}
            <tr><td>Search a moovie!</td></tr>
        {% elif search_type == 'movie' %} 
        <tr>
            <th>Title</th>
        </tr>
        {% for movie in movies %}
        <tr>
            <td><a href="/singlemovie?movie_id={{movie[0]}}">{{ movie[1][1:-1] }}</a></td>
        </tr>
        {% endfor %}
        {% elif search_type == 'actor' %}
        <tr>
            <th>Name</th>
        </tr>
        {% for person in movies %}
        <tr>
            <td><a href="/actor?actor_id={{person[0]}}">{{ person[1][1:-1]}} {{ person[2][1:-1] }}</a></td>
        </tr>
        {% endfor %}
        {% elif search_type == 'director' %}
        <tr>
            <th>Name</th>
        </tr>
        {% for person in movies %}
        <tr>
            <td><a href="/director?director_id={{person[0]}}">{{ person[1][1:-1]}} {{ person[2][1:-1] }}</a></td>
        </tr>
        {% endfor %}

        {% endif %}
        </table>
    </div>  
</div>

{% include 'modules/footer.html' %}
