{% include 'modules/header.html' %}

<div class="row">
<div class="col-md-3">

    <img src=/assets/cow_logo.png width="250" >
    
</div>
<div class="col-md-5">
        <h1>{{actor[0][0][1:-1]}} {{actor[0][1][1:-1]}}</h1>
        
        <div class="col-md-12">
        
        <h2>Roles</h2>
<table class="table">
    <tr>
        <th>Role</th>
        <th>Movie</th>
    </tr>
    {% for role in roles %}
    <tr>
       <td>{{ role[0][1:-1]}}</td>
       <td><a href="singlemovie?movie_id={{role[2]}}">{{ role[1][1:-1]}}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>

</div>
{% include 'modules/footer.html' %}
