{% include 'modules/header.html' %}

<div class="row">
<div class="col-md-3">

    <img src=/assets/cow_logo.png width="250" >
    
</div>
<div class="col-md-5">
        <h1>{{director[0][1:-1]}} {{director[1][1:-1]}}</h1>
        
        <div class="col-md-12">
        
        <h2>Directed</h2>
<table class="table">
    <tr>
        <th>Movie</th>
    </tr>
    {% for movie in movies %}
    <tr>
       <td><a href="/singlemovie?movie_id={{movie[1]}}">{{ movie[0][1:-1]}}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>

</div>
{% include 'modules/footer.html' %}
