{% include 'modules/header.html' %}
<div class="row">
<div class="col-md-3">

    <img src= {{img}} width="250" />
    <table class="table">
        <tr>
            <td>Director:</td>
            <td>{% for person in director%}
                    <a href="/director?director_id={{person[0]}}">{{person[1][1:-1]}} {{ person[2][1:-1]}}</a> 
                {% endfor %}
        </tr>
        <tr>
            <td>Genres:</td>
            <td>{% for genre in genres%}
                    {% for g in genre%}
                        {{g[1:-1]}}<br>
                        {% endfor %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Rotten Tomatoes:</td>
            <td>{{rtomatoes}} </td>
         </tr>
         <tr>
            <td>Freshness:</td>
            <td>
            {%if rtomatoes == 'n/a' %}
                "No Rating"
            {% elif rtomatoes < 60 %} 
                <img src="/assets/rotten_cow.png" width="140">
            {% elif rtomatoes < 90 and rtomatoes > 60 %}
                <img src="/assets/avg_cow.png" width="140">
            {% else %}
                <img src="/assets/fresh_cow.png" width="140">
            {% endif %}</td>
        </tr>
        </table>
</div>
<div class="col-md-5">
        <h1>{{ movie[0][1][1:-1]}}</h1>
        
        <div class="col-md-12">
        
        <h2>Actors</h2>
<table class="table table-hover ">
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    {% for actor in actors %}
    <tr>
       <td><a href="/actor?actor_id={{actor[0]}}">{{ actor[1][1:-1]}}
       {{ actor[2][1:-1]}}</a></td>
       <td>{{ actor[3][1:-1]}}</td>
    </tr>
    {% endfor %}
</table>
</div>
</div>
<div class="col-md-2">
    <a class="btn btn-primary text-right" href=/edit_movie?movie_id={{movie[0][0]}} role="button">Edit </a>
    <a class="btn btn-danger text-right" href=/delete_movie?movie_id={{movie[0][0]}} role="button">Delete</a>
</div>
</div>
<div class="row">
<div class="col-md-3"></div>

</div>



{% include 'modules/footer.html' %}
